body {
  background-color: white;
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

header, main, footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  height: 30rem;
  background-image: url('../images/glasses-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 3rem;
  background-color: cadetblue;
  display: inline-flex;
  justify-content: flex-start;;
  align-items: center;
  margin-top: 1rem;
}

.banner img {
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 2rem;
}

.banner span {
  font-size: 1rem;
  color: white;
}

.banner nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 auto;
}

.banner a {
  margin: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.banner span {
  display: none;
}

.banner a.mobile {
  display: none;
}

.tagline {
  margin-top: 11.5rem;
  display: flex;
  justify-content: flex-end;
}

.tagline span{
  position: relative;
  left: 2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}


main {
  margin-top: 3rem;
}

.features {
  display: inline-flex;
  justify-content: center;
}

.feature {
  width: 5rem;
  height: 8rem;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature span {
  text-align: center;
}

.feature img {
  visibility: hidden;
}

.image {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.75rem;
}

.image.exams {
  background-image: url('../images/paper-icon.png');
}

.image.fittings {
  background-image: url('../images/ruler-icon.png');
}

.image.delivery {
  background-image: url('../images/truck-icon.png');
}

.overview {
  margin-top: 3rem;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

.description {
  width: 35%;
  margin: 0 2.5%;
  display: flex;
  flex-direction: column;
}

.description h1 {
  width: 10rem;
  float: left;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.description p {
  margin-top: 1rem;
  font-family: Helvetica;
}

footer {
  margin-top: 5rem;
}

footer .container {
  background-color: azure;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 1024px)
{
  header {
    height: 22rem;
  }

  .container {
    width: 100%;
  }

  .banner {
    margin-top: 0;
    position: fixed;
  }

  .tagline {
    margin-top: 8rem;
  }

  .tagline span {
    position: static;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 480px)
{
  header {
    height: 17rem;
    background-position: 20%;
  }

  .banner a {
    display: none;
  }

  .banner a.mobile {
    display: block;
  }

  .tagline {
    margin-top: 12rem;
  }

  .tagline span {
    width: 100%;
    position: static;
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }

  main {
    margin-top: 3.77rem;
  }

  .features {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .feature {
    margin-bottom: 1.54rem;
    font-size: 0.77rem;
    height: auto;
  }

  .image.fittings {
    height: 2.5rem;
  }

  .image.delivery {
    height: 2.5rem;
  }

  .overview {
    flex-direction: column;
  }

  .description {
    width: 100%;
    margin: 0;
  }

  .description h1 {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .description p {
    margin: 1rem 0.5rem 4rem 0.5rem;
    font-size: 0.775rem;
  }

  footer {
    margin-top: 3.77rem;
  }

  footer .container {
    justify-content: center;
  }

  footer span {
    display: none;
  }

}
